%block default
#$ -N default
#$ -ac allow=K
#$ -pe mpi 48
#$ -t 1-1
#$ -l mem=4G
#$ -l h_rt=02:00:00
#$ -A Faraday_FCAT
#$ -P Gold
#$ -cwd
#$ -S /bin/bash
#$ -m n


ncores_per_node=24    # number of cores of a node
nnodes_per_subjob=1
ncores_per_subjob=4
mem_per_core=4096     # memory per core in M
%endblock default

%block airss
#$ -N airss
#$ -ac allow=K
#$ -pe mpi 48
#$ -t 1-1
#$ -l mem=4G
#$ -l h_rt=02:00:00
#$ -A Faraday_FCAT
#$ -P Gold
#$ -cwd
#$ -S /bin/bash
#$ -m n

ncores_per_node=24
nnodes_per_subjob=1
ncores_per_subjob=4
mem_per_core=4096
%endblock airss

%block crud
#$ -N crud
#$ -ac allow=K
#$ -pe mpi 48
#$ -t 1-1
#$ -l mem=4G
#$ -l h_rt=02:00:00
#$ -A Faraday_FCAT
#$ -P Gold
#$ -cwd
#$ -S /bin/bash
#$ -m n

ncores_per_node=24
nnodes_per_subjob=2
ncores_per_subjob=48
mem_per_core=4096
%endblock crud

%block forge
#$ -N forge
#$ -ac allow=K
#$ -pe mpi 48
#$ -t 1-1
#$ -l mem=4G
#$ -l h_rt=02:00:00
#$ -A Faraday_FCAT
#$ -P Gold
#$ -cwd
#$ -S /bin/bash
#$ -m n

ncores_per_node=24
nnodes_per_subjob=1
ncores_per_subjob=4
mem_per_core=4096
%endblock forge
