%block default
#SBATCH --job-name=default
#SBATCH --time=00:20:00
#SBATCH --nodes=1
#SBATCH --tasks-per-node=128
#SBATCH --cpus-per-task=1
#SBATCH --array=1-4

#SBATCH --account=e89-camm
#SBATCH --partition=standard
#SBATCH --qos=short

ncores_per_node=128     # number of cores to be used / for underpopulation of nodes, you can spcify fewer processes than cores on compute nodes
mem_per_core=1500       # memory per core in M
%endblock default

%block airss
#SBATCH --job-name=airss
#SBATCH --time=00:20:00
#SBATCH --nodes=1
#SBATCH --tasks-per-node=128
#SBATCH --cpus-per-task=1
#SBATCH --array=1-4

#SBATCH --account=e89-camm
#SBATCH --partition=standard
#SBATCH --qos=short

ncores_per_node=128     # number of cores to be used
mem_per_core=1500       # memory per core in M
%endblock airss

%block crud
#SBATCH --job-name=crud
#SBATCH --time=00:20:00
#SBATCH --nodes=1
#SBATCH --tasks-per-node=128
#SBATCH --cpus-per-task=1
#SBATCH --array=1-4

#SBATCH --account=e89-camm
#SBATCH --partition=standard
#SBATCH --qos=short

ncores_per_node=128     # number of cores to be used
mem_per_core=1500       # memory per core in M
%endblock crud

%block forge
#SBATCH --job-name=forge
#SBATCH --time=00:20:00
#SBATCH --nodes=1
#SBATCH --tasks-per-node=128
#SBATCH --cpus-per-task=1
#SBATCH --array=1-4

#SBATCH --account=e89-camm
#SBATCH --partition=standard
#SBATCH --qos=short

ncores_per_node=128     # number of cores to be used
mem_per_core=1500       # memory per core in M
%endblock forge
